
/*  estilo global*/
body {
    background-color: black;
     font-family: Helvetica;
     color: #e0e0e0e0;
     margin: 0;
     padding: 0;
}

i {
    margin-right: 5px;
}

input {
box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    background-color: #1e1e1e;

}

.top-bar{
    max-width: 1200px;
    margin: 0  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.logo {
 display: flex;
 align-items: center;
 gap: 10px;
}